.icons{
    font-size: 15vw;
}
ion-content {
    border-bottom-left-radius:30%;
    border-bottom-right-radius: 30%;
}

.card1{
    --min-height: 12vh;
    --border-radius: 3%;
}

.title{
    padding-bottom: 2%;
    margin-right: 10%;
    margin-left: 10%;
    border-bottom: 2px solid white;
}