ion-fab{
    bottom: 3%;
}

.icons{
    font-size: 15vw;
}


.point{
    width: 3.5%;
     height: 26%;
     margin-top: 1%;
    border: 1px solid rgba(100, 99, 99, 0.593);
    border-radius: 50%;
    background-color: rgb(79, 243, 85);
}

.connect{ 
   margin-right: 4%;

}

ion-note{
    h3{
        font-size: 15px;
    }
}

ion-tab-bar{
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
}

